<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 col-md-6 col-sm-6">
              <div class="tekst">
                  Dobrodošli na informacioni sistem studentske službe. <br>
                  Ukoliko imate pitanja koja se odnose na finansije, prijavu ispita, 
                  spisak ispita i sva ostala pitanja koja se tiču studija, molimo da se obratite Vašem referentu u studentskoj službi. <br>
                  Kontak možete pronaći na sledećoj adresi: http://www.studsluz.uns.ac.rs/kontakt/

              </div>

          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <img src="assets/img/st.png" alt="">
          </div>
          <div class="col-lg-8 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="tekst">
                      Kalendar rada
                  </div>
                  <table border="1">
                      <tr>
                          <th>Ispitni rok</th>
                          <th>Termin</th>
                          <th>Prijava ispita</th>
                      </tr>
                      <tr>
                          <td>januarsko-februarski</td>
                          <td>od 13. januara do 7. februara 2020. godine</td>
                          <td>od 9. decembra 2019. godine do 10. januara 2020. godine</td>
                      </tr>
                      <tr>
                          <td>aprilksi</td>
                          <td>od 1. do 5. juna 2020. godine</td>
                          <td>od 20. do 29. maja 2020. godine</td>
                      </tr>
                      <tr>
                          <td>junski</td>
                          <td>od 15. juna do 8. jula 2020. godine</td>
                          <td>od 8. do 12. juna 2020. godine</td>
                      </tr>
                      <tr>
                          <td>julski</td>
                          <td>od 13. do 24. jula 2020. godine</td>
                          <td>od 8. do 10. jula 2020. godine</td>
                      </tr>
                      <tr>
                          <td>septembarski</td>
                          <td>od 24. avgusta do 8. septembra 2020. godine</td>
                          <td> 20. jula do 20. avgusta 2020. godine</td>
                      </tr>
                      <tr>
                          <td>oktobarski</td>
                          <td>	od 14. do 21. septembra 2020. godine	</td>
                          <td>od 6. do 11. septembra 2020. godine</td>
                      </tr>
                  </table>
                 
              </div>
          </div>
<div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <li id="carousel__slide1"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper">
        <a href="#carousel__slide4"
           class="carousel__prev">Go to last slide</a>
           <div class="okvir">
            Ponovo su moguće odbrane diplomskih i završnih radova uz prisustvo publike
           </div>
           <div class="obavestenje">
            Odbrane diplomskih i završnih radova od ponedeljka, 15. juna. 2020. godine, ponovo mogu da se održavaju uz prisustvo publike, ali uz pridržavanje propisanih mera (maksimalni broj prisutnih u učionici, distanca, zaštitne mere).
           </div>
        <a href="#carousel__slide2"
           class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide2"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide1"
         class="carousel__prev">Go to previous slide</a>
         <div class="okvir2">Virtuelni red na šalterima Studentske službe – obavezan za sve studente</div>
         <div class="obavestenje">
            Uvedena je nova opcija na ePortalu – Virtuelni red. Ona omogućava lakše i bezbednije obavljanje svih poslova na šalterima Studentske službe i stoga je veoma važno da je koriste svi studenti PMF-a. <br><br>
            Broj se može dobiti samo kad šalteri rade, a može se i pratiti kako se brojevi na šalteru menjaju. Softver na osnovu broja indeksa raspoređuje studenta na šalter departmana kojem on pripada.
         </div>
      <a href="#carousel__slide3"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide3"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide2"
         class="carousel__prev">Go to previous slide</a>
         <div class="okvir">
            Platforma za e-učenje – Najčešća pitanja studenata
         </div>
         <div class="obavestenje">
            <ul>
                <li>*Кoji pristupni parametri se koriste na sistemu za e-učenje PMFa-?</li>
                <li>*Кako urediti korisnički profil?</li>
                <li>*Кako preusmeriti elektronsku poštu na alternativnu adresu?</li>
                <li>*Кako pronaći konkretan kurs i upisati se na njega?</li>
            </ul>
         </div>
      <a href="#carousel__slide4"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide4"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide3"
         class="carousel__prev">Go to previous slide</a>
         <div class="okvir2">Otvorena elektronska prijava kandidata za upis u prvu godinu osnovnih i integrisanih studija</div>
         <div class="obavestenje">
            Portal za prijavu kandidata za upis u prvu godinu osnovnih akademskih, osnovnih strukovnih i integrisanih akademskih studija namenjen je kandidatima koji žele da upišu Prirodno-matematički fakultet.<br><br>

            Кandidati na portalu mogu da nađu sve potrebne informacije vezane za konkurisanje i upis na Fakultet.
         </div>
      <a href="#carousel__slide1"
         class="carousel__next">Go to first slide</a>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide4"
           class="carousel__navigation-button">Go to slide 4</a>
      </li>
    </ol>
  </aside>
</section>
                  


           

